body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

.user-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.user-form input {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-form button {
  padding: 10px;
  margin-top: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-form button:hover {
  background-color: #218838;
}

.user-list table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  margin: 0 auto;
}

.user-list th, .user-list td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.user-list th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.user-list tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-list tr:hover {
  background-color: #f1f1f1;
}

.edit {
  padding: 6px 12px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.delete {
  padding: 6px 12px;
  background-color: red; 
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.edit:hover{
  background-color: rgb(71, 238, 71);
}

.delete:hover{
  background-color: rgb(231, 52, 52);
}
